<?xml version="1.0" encoding="utf-8"?>
<!--
  AndroidManifest.xml
  
  Copyright (c) 2012 SeedBoxer Team.
  
  This file is part of Seedroid.
  
  Seedroid is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  Seedroid is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with Seedroid.  If not, see <http ://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.seedboxer.seedroid"
    android:versionCode="5"
    android:versionName="2.1.1" >

    <!-- SDK Version -->
    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="17" />

    <!-- ** Permissions ** -->
    
    <!-- Only this application can receive the messages and registration result -->
    <permission android:name="net.seedboxer.seedroid.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="net.seedboxer.seedroid.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive message -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    
    <!-- Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    
    <!-- App must have this permission to use the library -->
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.USE_CREDENTIALS" />
    
    <!-- ** Application ** -->

    <application android:icon="@drawable/bittorrent" android:label="@string/app_name" android:allowBackup="true">
        
        <activity android:name=".activities.MainActivity" android:label="@string/app_name" android:theme="@style/seedroidTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".Preferences" android:label="@string/app_name" android:theme="@style/seedroidTheme"/>
        
        <activity android:name=".LoginActivity" android:label="@string/app_name" android:theme="@style/seedroidTheme"/>
        
        <service android:name=".c2dm.C2DMReceiver" />
        
        <!-- Only C2DM servers can send messages for the app. If permission is not set -any other app can generate it -->
        <receiver android:name="com.google.android.c2dm.C2DMBroadcastReceiver" 
            	  android:permission="com.google.android.c2dm.permission.SEND" >

            <!-- Receive the actual message -->
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="net.seedboxer.seedroid" />
            </intent-filter>
            <!-- Receive the registration id -->
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="net.seedboxer.seedroid" />
            </intent-filter>
        </receiver>
        
    </application>

</manifest>
